<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="home.css">
    <style>
    .error{
    border-color: green;
}
    </style>
</head>
<body>

<div class="sidenav">
   <a onclick="setFocus()" id="bt" href="#">Workspace 1</a>
   <a onclick="setFocus()" id="bt" href="#">workspace 2</a>
   <a href="#" >worksapce 3</a>
   <a href="#">workspace 4</a>

   <button id="btn">Log out</button>
</div>

<div class="main">
    Nodes are added here
</div>

    <script>
            function setFocus(){
             document.getElementById("bt").style.backgroundColor = "green";
        }
    </script>

</body>
</html>
