<!DOCTYPE html>
<html>
  <head>
    <title>Graphed</title>
    {% if authenticated %}
      <script type="module" src="/static/script/graphed.js"></script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css"/>
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
