{% extends 'base.html' %}
{% block content %}
<img src="/static/images/logo.png" style="width:125px;height:150px;display:block;margin:0 auto;padding-top: 25px;">
<div>
  <h5>Register</h5>
  <form>
    <div>
      <input type="text" id="username" placeholder="Username" minlength="3" maxlength="32" required autofocus>
      <label for="username">Username</label>
    </div>

    <div>
      <input type="password" id="password" placeholder="Password" minlength="8" maxlength="32"required>
      <label for="password">Password</label>
    </div>

    <button type="submit" id = "register">Register</button>
  </form>
</div>
<script type="module">
  import {api} from '/static/script/api.js';
  $(document).ready(function() {
    $('#register').on('click', function(e) {
      e.preventDefault();
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      api.registerUser(username, password, function() {
        window.location = "/";
      });
    });
  });
</script>
{% endblock %}
